<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/input.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="{{ url_for('static',filename='styles/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/input.css') }}" rel="stylesheet">
</head>
<body>
{% include 'navbar-logged-in.html' %}
<div class="container">
    <form class="form-input" method="POST" role="form">
        <div class="form-group">
            <label for="shower_slider">Shower&nbsp;&nbsp;
                <output class="input-value" name="shower_input_value" id="shower_input_value">0</output>
            </label>
            <b>Gal</b>
            <input type="range" class="custom-range" min="0" max="100" value="0"
                   oninput="shower_input_value.value = shower_slider.value" id="shower_slider" name="shower_input" value="{{shower_saved_data}}">
        </div>
       <div class="form-group">
            <label for="kitchen_sink_slider">Kitchen Sink&nbsp;&nbsp;
                <output class="input-value" name="kitchen_sink_input_value" id="kitchen_sink_input_value">0</output>
            </label>
            <b>Gal</b>
            <input type="range" class="custom-range" min="0" max="100" value="0"
                   oninput="kitchen_sink_input_value.value = kitchen_sink_slider.value" id="kitchen_sink_slider" name="kitchen_sink_input" value="{{kitchen_sink_saved_data}}">
        </div>
       <div class="form-group">
            <label for="bathroom_sink_slider">Bathroom Sink&nbsp;&nbsp;
                <output class="input-value" name="bathroom_sink_input_value" id="bathroom_sink_input_value">0</output>
            </label>
            <b>Gal</b>
            <input type="range" class="custom-range" min="0" max="100" value="0"
                   oninput="bathroom_sink_input_value.value = bathroom_sink_slider.value" id="bathroom_sink_slider" name="bathroom_sink_input" value="{{bathroom_sink_saved_data}}">
        </div>
       <div class="form-group">
            <label for="toilet_slider">Toilet&nbsp;&nbsp;
                <output class="input-value" name="toilet_input_value" id="toilet_input_value">0</output>
            </label>
            <b>Gal</b>
            <input type="range" class="custom-range" min="0" max="100" value="0"
                   oninput="toilet_input_value.value = toilet_slider.value" id="toilet_slider" name="toilet_input" value="{{toilet_saved_data}}">
        </div>
        <div class="form-group">
            <label for="drinking_water_slider">Drinking Water&nbsp;&nbsp;
                <output class="input-value" name="drinking_water_input_value" id="drinking_water_input_value">0</output>
            </label>
            <!--TODO change Glass into Glasses for more than 1 glass-->
            <b>Glass</b>
            <input type="range" class="custom-range" min="0" max="20" value="0"
                   oninput="drinking_water_input_value.value = drinking_water_slider.value" id="drinking_water_slider" name="drinking_water_input" value="{{drinking_water_saved_data}}">
        </div>
       <div class="form-group">
            <label for="garden_hose_slider">Garden Hose&nbsp;&nbsp;
                <output class="input-value" name="garden_hose_input_value" id="garden_hose_input_value">0</output>
            </label>
            <b>Gal</b>
            <input type="range" class="custom-range" min="0" max="100" value="0"
                   oninput="garden_hose_input_value.value = garden_hose_slider.value" id="garden_hose_slider" name="garden_hose_input" value="{{garden_hose_saved_data}}">
        </div>
       <div class="form-group">
            <label for="miscellaneous_slider">Miscellaneous&nbsp;&nbsp;
                <output class="input-value" name="miscellaneous_input_value" id="miscellaneous_input_value">0</output>
            </label>
            <b>Gal</b>
            <input type="range" class="custom-range" min="0" max="100" value="0"
                   oninput="miscellaneous_input_value.value = miscellaneous_slider.value" id="miscellaneous_slider" name="miscellaneous_input" value="{{miscellaneous_saved_data}}">
        </div>
        <button id="data-input-button" type="submit" class="btn btn-primary">Submit</button>
        <button id="data-save-button" type="button" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>