<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src= "{{ url_for('static', filename = 'assets/water.png') }}" width="50" height="50" class="d-inline-block align-top" alt="">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/about">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/about">About</a>
            </li>
        </ul>
        <ul class="navbar-nav signup-link">
             <li class="nav-item">
                <a class="nav-link" id="user">{{username}}</a>
            </li>
        </ul>
        </ul>
         <ul class="navbar-nav logout-link">
             <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/logout">&nbsp Log Out</a>
            </li>
        </ul>
    </div>
</nav>