<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/getStatesList.js') }}" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="{{ url_for('static',filename='styles/navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet">
    <script src="https://d3js.org/d3.v5.js"></script>
    <script type = "text/javascript" src="{{ url_for('static',filename='js/report.js')}}"></script>
    <script type = "text/javascript" src="{{ url_for('static',filename='js/getCitiesList.js')}}"></script>
</head>
<body onload="listStates(), listCities()">
{% include 'navbar-logged-in.html' %}
<div class="container">
    <form class="form-report">
        <div class="form-row">
             <div class="form-group col-md-4">
                <label for="graph">Display Graphical Chart For</label>
                 <select name="graph" id="graph" class="form-control">
                     <option selected>Choose...</option>
                     <option value="State">State</option>
                     <option value="City">City</option>
                     <option value="{{username}}">{{username}}</option>
                </select>
            </div>
            <!--To display state list-->
            <div class="form-group col-md-6 list state">
                <label for="inputState">State Chart</label>
                <select name="inputState" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                </select>
            </div>
            <!--To display city list-->
            <div class="form-group col-md-6 list city">
                <label for="inputCity">City Chart</label>
                <select name="inputCity" id="inputCity" class="form-control">
                    <option selected>Choose...</option>
                </select>
            </div>
        </div>
         <button id="get_chart" type="button" class="btn btn-primary">Get chart</button>
    </form>

    <svg id="multiline" width="1000" height="700"></svg>
    <br>
    <br>
    <svg id="bar" width="1000" height="700"></svg>

</div>
</body>
</html>