div.container {
 padding-top: 50px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: #000080 ;
}

.axis--x path {
  display: none;
}

div.tooltip {
  color: white;
  position: absolute;
  text-align: center;
  width: 150px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgba(0,0,0,.8);
  border: 2px solid black;
  pointer-events: none;
}

path {
    stroke-width: 1;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}
circle {
  stroke-width: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.legend, .label, .hover-text{
    font-size: x-small;
    background-color: white;
}